.banner{
    font-family: 'Orbitron', sans-serif;
    color: white;
    background-color: #000000;
}
.form{
    font-family: 'Inconsolata', monospace;
}
#toggleMe{
    display: none;
}
.game{
    display: block;
    margin: auto;
}